.wrapper{
    height:2200px;
overflow: hidden;
background: linear-gradient(90deg, rgb(253, 196, 224) 0%, rgb(163, 163, 166) 35%, rgba(120, 55, 91, 0.92)100%);
}
.greeting{
    display:block;
    margin-left: 20%;
    padding:5px;
    width:100%;
    line-height:1;
    font:900 2.5em 'concert one',sans-serif;
    text-transform: uppercase;
   color:black;
   animation: shine 10s ease-in-out infinite;


}


.bgimg{
animation: glow 2s ease 5.5s infinite;
margin-left: 20%;
}
@keyframes glow {
    0%,
    100% {
        filter: saturate(1);
    }
    50%{
        filter: saturate(2);
    }
}
   
   .chiny {
    display:block;
    margin-left: 15%;
    padding:5px;
    width:100%;
    line-height:1;
    font:900 2.5em 'concert one',sans-serif;
    text-transform: uppercase;
   color:black;
   animation: shine 10s ease-in-out infinite;
   }
   @keyframes shine{
    0%,
    100% {
        text-shadow: 0 0 30px rgb(228, 242, 255);
    }
    25%{
        text-shadow: 0 0 30px rgb(255, 127, 8);

    }
    50%{
        text-shadow: 0 0 30px rgb(196, 160, 201);
    }
    75%{
        text-shadow: 0 0 30px rgb(14, 14, 13);
    }
}
@keyframes shine{
    0%,
    100% {
        text-shadow: 0 0 30px rgb(158, 190, 206);
    }
    25%{
        text-shadow: 0 0 30px rgb(20, 239, 104);

    }
    50%{
        text-shadow: 0 0 30px rgb(9, 9, 9);
    }
    75%{
        text-shadow: 0 0 30px rgb(218, 232, 16);
    }
}

    .mail{display: flex;
    margin-left:30% ;
margin-top:9% ;}
    .git{
        display: flex;
        margin-top: 5%;
        margin-left: -23%;
    }
    .icongit{
        position: absolute;
        left: 612px;
        top: 1065px;
    }
    .iconheart{
        position: absolute;
        left: 633px;
        top: 900px;
    }
    .heart2{
        position: absolute;
        left: 683px;
        top: 900px;
    }
    .heart1{
        position: absolute;
        left: 730px;
        top: 900px;
    }
    .butt{
        border: none;
        background-color: transparent;
    }
  .buut2{
    border: none;
        background-color: transparent;
  }
  .butt3{
    border: none;
        background-color: transparent;
  }
    .linkidin{
        position: absolute;
        left: 587px;
    top: 1040px;
    }
    .welcome__cta-primary {
        background: #372c35;
        color: #fff;
        margin-left: 36%;
    margin-top: 8%;
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 20px;
        font-weight: 700;
      }
      .contact{
        margin-top:29%;
        margin-left: 12%;
      }
      .tik{
        position: absolute;
        top: 148%;
    left: 50%;}
.fb{
    top: 148%;
    left: 46%;
    position: absolute;

}   
.insta{
    top: 148%;
    left: 43%;
   position: absolute;
}   

